*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Arsenal', sans-serif;
    overflow-x: hidden;
    line-height: normal;
    color: whitesmoke; 
    a{
        color: whitesmoke !important;
        text-decoration: none; 
    }
}
h1{
    text-align: center;
    font-size: 40px;
    font-variant: small-caps;
    font-style: italic;
    letter-spacing: 3px;
    padding-top: 30px;
    margin-left: 220px;
    font-weight:bold;
}

/* ----------- INDEX ----------- */
.intro__p{
    margin: 0 30px 0 280px;
    font-size: 17.5px;
    line-height: 1.5;
    text-align: justify;
    
}
.border__imgbody{
    display: flex;
    justify-content: center;
    border: 2px solid whitesmoke;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    margin: 30px 30px 40px 280px;
    max-width: 100%;
    .img__body{
        display: flex;
        padding: 20px;
        .img{
            width: 350px;
            height: 350px;
            max-width: 100%;
            box-shadow: 5px 5px 0px 5px #00000055;
        }
        .index__inframe{
            margin-left: 30px;
            box-shadow: 5px 5px 0px 5px #00000055;
        }
    }  
}

/* ----------- SERVICIOS ----------- */
.servicios{
    margin-left: 250px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    div{
        .servicios__icon{
            margin-top: 150px;
            width: 250px;
            height: 250px;
            max-width: 100%;
            background-color: gray;
            border-radius: 25px;
            box-shadow: 0px 0px 20px 5px whitesmoke;
            transition: 0.5s;
            &:hover{
                transform: scale(1.05);
            }
            
        }
        h5{
            font-size: 36px;
            font-variant: small-caps;
            text-align: center;
            font-weight: 400;
            padding-top: 20px;
        }
    }
}
.crossbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 110px;
    margin-top: 40px;
    height: 100vh;
    img{
        width: 530px;
        height: 530px;
        box-shadow: 0px 0px 10px 5px whitesmoke;
        transition: all 500ms ease-out;
        &:hover{
            transform: scale(1.05);
        }   
    }       
    div{
        position: relative;
        cursor: pointer;
        .capa{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: rgba(27, 27, 27, 0.8);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            h6{
                font-size: 50px;
                font-weight: 400;
                font-variant: small-caps;
                margin-bottom: 400px;
                margin-top: 50px;
                transition: all 500ms ease-out;
            }
            p{
                font-size: 20px;
                line-height: 1.5;
            }
        }
        &:hover img{
            transform: scale(1.05);
        }
        &:hover .capa{
            opacity: 1;
            visibility: visible;
            h6{
                margin-top: 200px;
                margin-bottom: 30px;
            }
        }
    }
}

/* ----------- TIENDA ----------- */
.tienda{
    height: 100vh;
}
.tienda__cons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .construccion{
        margin-left: 250px;
    }
}

/* ----------- CONTACTO ----------- */
.contacto{
    background-image: url(../imagenes/fondo_contacto.jpg);
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 120vh;
    
}