$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

@media screen and (min-width: ($desktop + 176px)){

    .header{
        display: none;
    }
}
@media screen and (max-width:($desktop + 176px)) and (min-width: $tablet){
    .contenido__menu{
        display: none;
    }
    footer{
        border-top: 1px solid whitesmoke;
        margin: 30px 40px 30px 40px; 
    }
    /* Header Horizontal */
        .bg-dark {
            background-color: rgb(4, 0, 0)!important;
        }
        .contenido{
                h2{
                    font-size: 23px;
                    margin-top: 10px;
                    background: url(../imagenes/animated-text-fill.png) repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: titulo 30s linear infinite;
                    transform: translate3d(0,0,0);
                    backface-visibility: hidden;
                    font-weight:bold;
                    line-height:normal;
                    &::first-letter{
                        font-size: 30px;
                    } 
                    @keyframes titulo {
                        0% { background-position: 0% 50%; }
                        100% { background-position: 100% 50%; }
                    } 
                } 
            }
        .navbar-nav{
            .nav-link i{
                padding: 4px;
            }
        }

    /* --- INDEX --- */
    h1{
        margin: 20px auto 20px 0px;
    }
    .intro__p{
        margin: 0 30px 0 30px;
        text-align:left;   
    }
    .border__imgbody{
        margin: 30px 30px 40px 30px;  
    }

    /* --- SERVICIOS --- */
    .servicios{
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    .crossbox{
        display: flex;
        align-content: center;
        margin: 0; 
        div{
            img{
                width: 500px;
                height: 500px;
            }
        }       
    }

    /* --- TIENDA --- */
        .tienda__cons{
            display: flex;
            justify-content: center;
            .construccion{
                margin-left: 0;
            }
        }
    /* ---CONTACTO--- */
    .formulario__border{
        box-shadow: 0px 0px 10px 5px whitesmoke;
        margin: 0 auto 0 auto;
        padding: 10px 0 10px 0;
    } 
    .redes{
        margin: 20px auto 0 auto ;
    }
}

@media screen and (max-width: $tablet) and (min-width: $phone){
    .contenido__menu{
        display: none;
    }
    footer{
        border-top: 1px solid whitesmoke;
        margin: 30px 40px 30px 40px; 
    }
    /* Header Horizontal */
        .bg-dark {
            background-color: rgb(4, 0, 0)!important;
        }
        .contenido{
                h2{
                    font-size: 23px;
                    margin-top: 10px;
                    background: url(../imagenes/animated-text-fill.png) repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: titulo 30s linear infinite;
                    transform: translate3d(0,0,0);
                    backface-visibility: hidden;
                    font-weight:bold;
                    line-height:normal;
                    &::first-letter{
                        font-size: 30px;
                    } 
                    @keyframes titulo {
                        0% { background-position: 0% 50%; }
                        100% { background-position: 100% 50%; }
                    } 
                } 
            }
        .navbar-nav{
            .nav-link i{
                    padding: 4px;
            }
        }

    /* --- INDEX --- */
    h1{
        margin: 20px auto 20px 0px;
    }
    .intro__p{
        margin: 0 30px 0 30px;
        text-align:left;   
    }
    .border__imgbody{
        margin: 30px 30px 40px 30px;
        .img__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .img{
                width: 100%;
                height: 500px;
            }
            .index__inframe{
                width: 100%;
                height: 330px;
                max-width: 100%;
                margin: 30px 20px 0px 0px;
            }
        }  
    }

    /* --- SERVICIOS --- */
    .servicios{
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    .crossbox{
        display: flex;
        justify-content: center;
        margin: 0;
        div{
            .capa{
                h6{
                    font-size: 30px;
                    font-weight: 400;
                }
                p{
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
            &:hover .capa h6{
                margin-top: 100px;
                margin-bottom: 30px;
            }
            img{
                width: 470px;
                height: 470px;
            }
        } 
    }

    /* --- TIENDA --- */
    .tienda__cons{
        display: flex;
        justify-content: center;
        .construccion{
            margin-left: 0;
            width: 450px;
        }
    }
    /* ---CONTACTO--- */
    .formulario__border{
        box-shadow: 0px 0px 10px 5px whitesmoke;
        margin: 0 auto 0 auto;
        padding: 10px 0 10px 0;
    } 
    .redes{
        margin: 20px auto 0 auto ;
    }
}

@media screen and (max-width: $phone){
    .contenido__menu{
        display: none;
    }
    footer{
        border-top: 1px solid whitesmoke;
        margin: 30px 40px 30px 40px; 

    }
    /* Header Horizontal */
        .bg-dark {
            background-color: rgb(4, 0, 0)!important;
        }
        .contenido{
                h2{
                    font-size: 23px;
                    margin-top: 10px;
                    background: url(../imagenes/animated-text-fill.png) repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: titulo 30s linear infinite;
                    transform: translate3d(0,0,0);
                    backface-visibility: hidden;
                    font-weight:bold;
                    line-height:normal;
                    &::first-letter{
                        font-size: 30px;
                    } 
                    @keyframes titulo {
                        0% { background-position: 0% 50%; }
                        100% { background-position: 100% 50%; }
                    } 
                } 
            }
        .navbar-nav{
            .nav-link i{
                padding: 4px;
            }
        }

    /* --- INDEX --- */
    h1{
        margin: 20px auto 20px 0px;
    }
    .intro__p{
        margin: 0 30px 0 30px;
        text-align:left;   
    }
    .border__imgbody{
        margin: 30px 30px 40px 30px;
        .img__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .img{
                width: 100%;
                height: 400px;
            }
            .index__inframe{
                width: 100%;
                height: 330px;
                max-width: 100%;
                margin: 30px 20px 0px 0px;
            }
        }  
    }

    /* --- SERVICIOS --- */
    .servicios{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 190vh;
        div{
            .servicios__icon{
                width: 250px;
                height: 250px; 
            }
        }
    }
    .crossbox{
        display: flex;
        justify-content: center;
        margin: 0;
        div{
            .capa{
                h6{
                    font-size: 30px;
                    font-weight: 400;
                }
                p{
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
            &:hover .capa h6{
                margin-top: 100px;
                margin-bottom: 30px;
            }
            img{
                width: 330px;
                height: 330px;
            }
        } 
        
    }

    /* --- TIENDA --- */
    .tienda__cons{
        display: flex;
        justify-content: center;
        .construccion{
            margin-left: 0;
            width: 370px;
        }
    }
    /* ---CONTACTO--- */
    .formulario__border{
        box-shadow: 0px 0px 10px 5px whitesmoke;
        margin: 0 auto 0 auto;
        padding: 10px 0 10px 0;
        width: 300px;
    } 
    .redes{
        margin: 20px auto 0 auto;
    }
}
